.movie-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.backdrop-container {
  display: none;
}

.posterBackdrop-container {
  display: flex;
  justify-content: center;
  margin-top: 66px;
}
.poster {
  box-shadow: 0 0 30px rgb(5, 5, 5);
  height: 300px;
  width: 200px;
  border: 1px solid rgb(207, 207, 207);
}

.title-date-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(226, 180, 31);
  margin-top: 3%;
}
h3 {
  font-size: 28px;
  display: flex;
  margin-top: -30px;
  color: rgb(218, 218, 218);
}

.p-info-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 6%;
}
p {
  display: flex;
  text-align: center;
  font-size: 26px;
  width: 90%;
  margin: -10px;
  color: rgb(204, 204, 204);
}
@media screen and (min-width: 768px) {
  .movie-container {
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
  }
  .backdrop-container {
    display: flex;
    margin-top: 60px;
    justify-content: center;
  }
  .posterBackdrop-container {
    margin-top: -150px;
  }
  .title-date-container {
    margin-top: 2%;
    display: flex;

    align-items: center;
  }
  h1 {
    font-size: 56px;
  }
  h3 {
    font-size: 36px;
  }
  p {
    font-size: 26px;
  }
}
