.movie-container {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.backdrop-container {
  display: none;
}

.posterBackdrop-container {
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  margin-top: 66px;
 
}

.title-date-container {
  max-width: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

h1 {
  /* border: 1px solid brown; */
  font-size: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-right: .5rem; */
  /* max-width: 50%; */
  color: rgb(226, 180, 31);
  margin: 0;
}
h3 {
  /* border: 1px solid brown; */
  /* max-width:50%; */
  display: flex;
  /* margin-left: .5rem; */
  margin-top: 0;
  color: rgb(218, 218, 218);
}

.p-info-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
p {
  /* border: 1px solid brown; */
  display: flex;
  text-align: left;
  font-size: 24px;
  width: 90%;
  margin: 0;
  color: rgb(204, 204, 204);
}

@media screen and (min-width: 768px) {
  .movie-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    overflow-x: hidden !important;
  }

  .backdrop-container {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
  min-width: 100%;
  }

  .posterBackdrop-container {
    /* border: 1px solid orange; */
    margin: -80px;
    display: flex;
    flex-direction: row;
  }

  .title-date-container {
    max-width: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

 
}
